@media screen and (max-width:600px) {

    /* h2 and p font size  */
    h2 {
        font-size: 1.25rem;
        font-weight: 800;
    }

    p {
        font-size: 0.88rem;
        font-weight: 400;
    }

    .logo-img{
        width: 40px;
    }
    .menu{
        display: none;
    }

    /* banner section style */
    .banner-container {
        width: 90%;
        height: 500px;
        background-image: center;
    }

    .banner-text h1 {
        font-size: 1.38rem;
        margin: 32px auto 10px;
    }

    .banner-text p {
        font-size: 0.88rem;
        margin: 0 auto;
        width: 80%;
    }

    .banner-input-container {
        flex-direction: column;
        margin-top: 32px;
    }

    .banner-input-container input {
        width: 85%;
    }

    .banner-select,
    .banner-btn {
        width: 90%;
    }

    /* tour section style */
    .tour-container {
        flex-direction: column;

    }

    .tour-text,
    .tour-image {
        width: 90%;
    }

    .tour-text ul li {
        width: 80%;
        margin-left: 5%;
        /* margin-right: 10%; */
    }

    .tour-image {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    /* destination section */
    .destination-container {
        margin-bottom: 0px;
    }

    .destination-image-container img {
        /* width: 80%; */
        width: 335px;
        height: 176px;
        margin-bottom: 16px;
    }

    .destination-image-container {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
    }

    .destination-image-container h4 {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .row-1,
    .row-2,
    .row-3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .row-2 h4 {
        position: absolute;
        top: 37%;
        left: 41%;
    }

    .row-3 h4 {
        position: absolute;
        top: 37%;
        left: 37%;
    }

    /* choose-us section */
    .choose-us-description {
        margin: 16px auto;
    }

    .choose-us-container .card {
        width: 70%;
        height: auto;
        margin-top: 5px;
    }

    .card-2 {
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    .card-container h5 {
        font-size: 20px;
        font-weight: 800;
    }

    .card-container p {
        line-height: 24px;
    }
    /* faq-section */
    .faq-section{
        width: 80%;
        height: auto;
        padding-bottom: 20px;
    }

    /* .newsletter section */
    .newsletter-container {
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .newsletter-input-container {
        width: 70%;
        margin: 16px auto;
    }

    .newsletter-image-container {
        width: 85%;
        height: 300px;
        margin: 0px auto;
    }
    .newsletter-image-container .save{
        width: 215px;
        height: 80px;
        right: 12px;
        bottom: 60px;
        transform: rotate(338deg);
    }
    .save p{
        font-size: 15px;
    }
    .save h3{
        font-size: 21px;
    }

    /* footer section */
    .footer-container{
        margin-top: 50px;
    }
    .footer-container .logo{
        padding: 33px 0 0;
    }
    .social-icon{
        margin: 16px 0;
    }
    .right{
        padding-bottom: 33px;
    }

}