/* import google mulish font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
    --primary-txt-color: #131318;
    --p-txt-color: #5A5A5D;
    --txt-color: rgba(19, 19, 24, 0.70);
}

/* shared styles */
/* h2 style */
h2{
    color: var(--primary-txt-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.p-txt-color{
    color: var(--p-txt-color);
}

.txt-color{
    color: var(--txt-color);
}


/* fw = font-weight */

.fw-800 {
    font-weight: 800;
}



/* btn style */
.btn {
    color: #FFF;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    font-weight: 800;
    font-size: 1.25rem;
    cursor: pointer;
}

/* banner section style */
.banner-container {
    max-width: 1170px;
    height: 500px;
    margin: 146px auto 100px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    background-position: center;
    text-align: center;
    border: 2px solid white;
}


.banner-text h1 {
    color: #FFF;
    font-size: 4rem;
    margin: 106px 0px 24px;
}

.banner-text p {
    color: #FFF;

}

.banner-input-container {
    width: 70%;
    margin: 48px auto 0px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.banner-input-container input {
    width: 158px;
    height: 49px;
    padding-left: 16px;
    color: var(--txt-color);
    border-radius: 8px;
    border: none;
}

.banner-select {
    width: 174px;
    height: 52px;
    padding: 16px;
    color: var(--txt-color);
    border: none;
    border-radius: 8px;
}

.banner-btn {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 174px;
    height: 52px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* tour section */
.tour-container{
    max-width: 1170px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 53px;
}
.tour-text{
    width: 45%;
}

.tour-image{
    width: 45%;
}
.tour-image img{
    width: 100%;
}

.tour-text h2{
    margin-bottom: 24px;
}
.tour-text p{
    margin: 24px 0px;
    line-height: 26px;
}

.tour-text ul li{
    margin-bottom: 16px;
    line-height: 22px;
}

.tour-text .btn{
    padding: 14px 34px;
}


/* destination section style*/
.destination-container{
    max-width: 1170px;
    margin: 100px auto;
    text-align: center;
}

.destination-text{
    width: 75%;
    margin: 0px auto;
}

.destination-text p{
    margin: 24px auto 48px;
    line-height: 26px;
}


.destination-image-container h4{
    font-weight: 800;
    font-size: 1.75rem;
    color: #FFF;
}

/* destination-image-container */
.destination-image-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 24px;
}

.destination-image-container img{
    width: 100%;
}

.maldives, .indonesia,
 .srilanka, .north-america, .kashmir,
 .bangladesh, .bandarban{
    position: relative;
}



.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}
.row-1 h4{
    position: absolute;
    top: 45%;
    left: 40%;
}
.row-2 h4{
    position: absolute;
    top: 40%;
    left: 32%;
}
.row-2 {
    display: grid;
    grid-template-columns: 374px 474px 272px;
    column-gap: 24px;
}

.row-3 {
    display: grid;
    grid-template-columns: 473px 673px;
    column-gap: 24px;
    row-gap: 0px;
}

.row-3 h4{
    position: absolute;
    top: 40%;
    left: 35%;
}